* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.bg-video {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;  /* makes it true background */
    z-index: -1;        /* sends it behind everything */
    
}
